.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.link {
    text-decoration: underline;
}
